*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}



.container{
    width: 1320px;
    margin: 0 auto;
}


/* ==========================================
                     Basic CSS is ENd
================================================*/

/* ==========================================
                    Counter Down CSS START
================================================*/

#Counter-Down{
    margin: 80px 0;
    background:rgb(31, 31, 31);
    padding: 80px 0;
}
#Counter-Down .counter-item{
    text-align: center;
    color:white;
}

/* ==========================================
                    Counter Down CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/

/* ==========================================
                     CSS START
================================================*/


/* ==========================================
                     CSS ENd
================================================*/


